<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Detalles de la Venta</h4>
                <div class="card-body row">
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">N° Venta :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak>{{selected.datos.idServicioRealizado}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">Cliente :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak>{{selected.datos.nombres +' '+ selected.datos.apellidos}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">Monto total :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak>{{selected.datos.montoTotal |currency :'Gs.': 0 }}</p>
                        </div>
                    </div>
                    <br>
                    <br>


                    <div class="col-md-12" style="margin: 15px 0;">
                        <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                            <thead>
                                <tr>
                                    <th style="text-align: center">Servicio</th>
                                    <th style="text-align: center">Rubro</th>
                                    <th style="text-align: center">Precio</th>
                                    <th style="text-align: center">IVA</th>
                                    <th style="text-align: center">Empleado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in $data">
                                    <td ng-cloak style="text-align: center">{{data.descripcionServicio}}</td>
                                    <td ng-cloak style="text-align: center">{{data.descripcionRubro}}</td>
                                    <td ng-cloak style="text-align: center">{{data.precio |currency :'Gs.': 0 }}</td>
                                    <td ng-cloak style="text-align: center">{{data.porcentajeIva}}%</td>
                                    <td ng-cloak style="text-align: center">{{data.nombres + " " + data.apellidos}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>

                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align: right">
                            <button type="button" class="btn btn-success" ng-disabled="selected.datos.pagado || listaFiltro <= 0" ng-click="pagar()"
                                ng-disabled="selected.datos.pagado">
                                <i class="mdi mdi-cash-multiple"
                                    style="font-size: 22px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Pagar</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>