<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Cerrar la caja del día</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Fecha : </label>
                    <div class="col-lg-3">
                        <input type="date" id="picker" class="form-control" ng-model="selected.modificarDatos.fecha" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Monto total ingreso</label>
                    <div class="col-lg-8">
                        <input  ng-model="selected.modificarDatos.monto_total_ingreso" type="" id="" name="montoTotalIngreso" class="form-control"
                            placeholder="Monto total ingreso" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Monto total egreso</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.monto_total_egreso" type="" id="" name="montoTotalEgreso" class="form-control"
                            placeholder="Monto total egreso" disabled>
                    </div>
                </div>
                <hr>
                <div class="form-actions">
                    <button style="float:right;" type="submit" class="btn btn-info btn-fill btn-wd"> Cerrar</button>
                    <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioCaja" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioCaja" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea cerrar la caja?</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                class="btn btn-default" ng-click="modificar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>