<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Agregar Detalle de la Venta</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">N° Venta</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.servicioRealizado.idServicioRealizado" type="" id="" name="salario"
                            class="form-control" placeholder="Salario" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Empleado:</label>
                    <div class="col-md-6">
                        <select ui-select2 class="form-control input-sm" id="empleado" tabindex="1"
                            ng-model="datos.id_empleado" name="id_empleado" required>
                            <option value="">-- SELECCIONAR --</option>
                            <option ng-repeat="em in empleado" ng-show="em.fecha_salida == null && em.usuario != 'admin'" value="{{em.id_empleado}}">
                                {{em.nombre + ' ' + em.apellido}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Servicio:</label>
                    <div class="col-md-6">
                        <select ui-select2 class="form-control input-sm" tabindex="2"
                            ng-model="datos.idServicio" name="idServicio" required>
                            <option value="" selected disabled>-- SELECCIONAR --&nbsp;&nbsp;</option>
                            <option ng-repeat="r in servicios| orderBy:'descripcion':false" value="{{r.idServicio}}">
                                {{r.descripcion}}&nbsp;&nbsp;
                            </option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-actions" style="float:right; height:50px;">
                    <div class="row">
                        <div class="col-md-offset-3 col-lg-12">
                            <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                            <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                            <button type="button" class="btn btn-default waves-effect"
                                ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<!--<div class="modal fade" id="cambioUsuario" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioUsuario">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="">Aceptar</button>
            </div>
        </div>
    </div>
</div>-->