<!--<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>-->

<div id="main-wrapper">
        <header class="topbar" style="position: fixed; width: 100%">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                    <div class="navbar-header">
                            <a class="navbar-brand">
                                <b>
                                    <img src="assets/images/logoBlanco.png" alt="homepage" class="light-logo"
                                        style="width: 15vw;" />
                                </b>
                            </a>
                        </div>
                <div class="navbar-collapse" style="margin-left:1000px; margin-right:-220px;">
                    <ul class="navbar-nav mr-auto mt-md-0">
                    </ul>
                    <ul class="navbar-nav my-lg-0" margin=0 padding=0 padding-left=-2000px; margin-left=-10000px;
                        list-style-type=none; list-style-position=inside;>
                        <li class="nav-item">
                            <i class="far fa-user" style="color: white; margin-right: 7px"></i>
                            <!-- <i class="fas fa-user-graduate" style="color: white; margin-right: 7px"></i> -->
                        </li>
                        <li class="nav-item">
                            <h5 margin-left=10000px; padding=1000px;
                                style="color: white;margin-top:  5px;margin-right: 24px;" ng-cloak>
                                <strong ng-cloak>{{nombre}}</strong>
                            </h5>
                        </li>
                        <li class="nav-item">
                            <a aria-expanded="false" ui-sref="login">
                                <h5 style="color: white;margin-top:  5px;margin-right: 24px;" ng-cloak>
                                    <i class="mdi mdi-exit-to-app" style="color: white"></i>
                                    Salir
                                </h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li ui-sref-active="active">
                            <a class="has-arrow" ui-sref="app.inicio" aria-expanded="false">
                                <i class="mdi mdi-home"></i>
                            </a>
                        </li>
                        <!--<li ui-sref-active="active">
                            <a class="has-arrow" ui-sref="app.administracion" aria-expanded="false" >
                                <i class="mdi mdi-settings"></i>
                                <span class="hide-menu">Administrador</span>
                            </a>
                        </li>-->
    
                        <li ui-sref-active="active">
                            <a class="has-arrow" aria-expanded="false">
                                <i class="mdi mdi-account-circle"></i>
                                <span class="hide-menu">Persona</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="" ui-sref="app.persona" aria-expanded="false">
                                        <i class="mdi mdi-account-circle"></i>
                                        <span class="hide-menu">Personas</span>
                                    </a>
                                </li>
                                <li ng-if="esAdmin">
                                    <a class="" ui-sref="app.empleado" aria-expanded="false">
                                        <i class="mdi mdi-clipboard-account"></i>
                                        <span class="hide-menu">Empleados</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" ui-sref="app.cliente" aria-expanded="false">
                                        <i class="mdi mdi-account-outline"></i>
                                        <span class="hide-menu">Clientes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
    
                        <li ng-if="esAdmin" ui-sref-active="active">
                            <a class="has-arrow" aria-expanded="false">
                                <i class="mdi mdi-food-variant"></i>
                                <span class="hide-menu">Stock</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="" ui-sref="app.producto" aria-expanded="false">
                                        <i class="mdi mdi-food-variant""></i>
                                        <span class=" hide-menu">Productos</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" ui-sref="app.inventario" aria-expanded="false">
                                        <i class="mdi mdi-playlist-check""></i>
                                        <span class=" hide-menu">Reportes</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" ui-sref="app.baja-stock" aria-expanded="false">
                                        <i class="fa fa-trash"></i>
                                        <span class="hide-menu">Baja de Stock</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" ui-sref="app.orden-compra" aria-expanded="false">
                                        <i class="fa fa-shopping-bag"></i>
                                        <span class="hide-menu">Orden de Compra</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" ui-sref="app.proveedor" aria-expanded="false">
                                        <i class="mdi mdi-account-multiple-outline"></i>
                                        <span class="hide-menu">Proveedores</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
    
                        <li ui-sref-active="active">
                                <a class="has-arrow" aria-expanded="false">
                                    <i class="mdi mdi-spray"></i>
                                    <span class="hide-menu">Venta</span>
                                </a>
                                <ul aria-expanded="false" class="collapse">
                                    <li>
                                        <a class="" ui-sref="app.servicio-realizado">
                                            <i class="mdi mdi-spray"></i>
                                            <span class="hide-menu">Ventas</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" ui-sref="app.cobranza" aria-expanded="false">
                                            <i class="fas fa-money-bill-wave"></i>
                                            <span class="hide-menu">Cobranza</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" ui-sref="app.factura" aria-expanded="false">
                                            <i class="fas fa-money-check-alt"></i>
                                            <span class="hide-menu">Facturas</span>
                                        </a>
                                    </li>
                                    <li ng-if="esAdmin">
                                        <a class="" ui-sref="app.servicio" aria-expanded="false">
                                            <i class="mdi mdi-content-cut"></i>
                                            <span class="hide-menu">Servicios</span>
                                        </a>
                                    </li>
                                </ul>
                        </li>
    
                        <li ui-sref-active="active">
                            <a class="has-arrow" aria-expanded="false">
                                <i class="fas fa-cash-register"></i>
                                <span class="hide-menu">Caja</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="" ui-sref="app.caja">
                                        <i class="fas fa-cash-register"></i>
                                        <span class="hide-menu">Cajas</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" ui-sref="app.operaciones">
                                        <i class="fas fa-exchange-alt"></i>
                                        <span class="hide-menu">Operaciones</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li ng-if="esAdmin" ui-sref-active="active">
                            <a class="has-arrow" aria-expanded="false">
                                <i class="mdi mdi-settings-box"></i>
                                <span class="hide-menu">Configuraciones</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="" ui-sref="app.usuario">
                                        <i class="mdi mdi-account-circle"></i>
                                        <span class="hide-menu">Usuarios</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" ui-sref="app.rubro">
                                        <i class="mdi mdi-format-list-bulleted"></i>
                                        <span class="hide-menu">Rubros</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li></li>
                    </ul>
                </nav>
        </aside>
    </div>
    <div class="page-wrapper">
        <div class="container-fluid" ui-view></div>
            <footer style="font-size: 11px;" class="footer"> 
            Copyright &copy; 2019. Sofía Mongelós - Jessica Obst
            </footer>
    </div>
    </div>