<div class="col-12">
    <div ng-if="realizar" class="col-sm-14 col-md-14">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="fas fa-exclamation" style="font-size: 22px;"></i><strong style="font-size: 20.5px">&nbsp;ATENCIÓN</strong>
            <hr class="message-inner-separator">
            <p style="font-size: 18px">Hay productos bajos en stock</p>
        </div>
    </div>
    <div class="card" style="margin-bottom: 0.4cm;">
        <div class="card-body" >
            <h4 class="card-title">Detalles del Reporte</h4>
            <div class="card-body row">
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Fecha : {{selected.datos.fecha|date:'dd/MM/yyyy'}}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Empleado : {{selected.datos.nombres+' '+ selected.datos.apellidos}}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                            <h4 class="card-title" ng-if="realizar">Realizar Compra :&nbsp;&nbsp;&nbsp;SI</h4>
                            <h4 class="card-title" ng-if="!realizar">Realizar Compra :&nbsp;&nbsp;&nbsp;NO</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12" ng-if="listaFiltro.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Producto</th>
                                <th style="text-align: center">Stock Mínimo</th>
                                <th style="text-align: center">Stock Actual</th>
                                <th style="text-align: center">Bajo en  Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.producto}}</td>
                                <td ng-cloak style="text-align: center">{{data.stockMinimo |currency :'': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.stockActual |currency :'': 0 }}</td>
                                <td ng-cloak style="text-align: center" ng-if="data.realizarCompra">
                                    <i class="mdi mdi-check" 
                                    style="font-size: 24px; color: #3CC3B9;" data-toggle="tooltip" title="SI"></i>
                                </td>
                                <td ng-cloak style="text-align: center" ng-if="!data.realizarCompra">
                                    <i title="NO"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>