<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
        <br>
    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Modificar Detalle Servicio</h3>
            </div>
        </div>
    </div>
        <div class="card">
            <hr>
            <div class="content" style="padding: 0px 15px 10px 15px;">
                <form name="form" ng-submit="confirmar(form)">
                <script>$(document).ready(function(){format(costoProducto);});</script>

                    <div class="form-group row">
                        <label class="col-lg-4 control-label">Producto :</label>
                        <div class="col-md-8">
                            <select id="idProducto" class="form-control" ng-model="selected.modificarDatos.idProducto"
                                name="idProducto" ng-required="true" ng-options="i.idProducto as (i.descripcion ) for i in productos">
                                <option value="" selected disabled>-- SELECCIONAR --</option>
                                <option></option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-4 form-control-label">Cantidad :</label>
                        <div class="col-lg-2">
                            <input ng-model="selected.modificarDatos.cantProducto" type="" id="cantProducto" name="cantProducto" class="form-control"
                                placeholder="" required>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-4 form-control-label">Costo :</label>
                        <div class="col-lg-2">
                            <input onkeyup="format(this)" onchange="format(this)" ng-model="selected.modificarDatos.costoProducto"                        
                            type="" id="costoProducto" name="costoProducto" 
                            class="form-control" placeholder="" required>
                        </div>
                    </div>


                    <hr>
                    
                    <div class="form-actions">
                        <div class="row" style="float:right;">
                            <div class="col-md-offset-2 col-lg-12">
                                <button type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                                <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    
                    <br>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- MODAL -->
    
    <div class="modal fade" id="cambioEmpleado" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="cambioEmpleado" style="background-color:#FFFFFF; border-width: 0.055cm;">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                    class="btn btn-default" ng-click="modificarPersona()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>