<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px;">
        <div class="card-body">
            <h3 style="font-size: 25px; color: #FFFFFF; text-align: center;">Facturas</h3>
        </div>
    </div>
    <div class="col-12" ng-if="fact.length">
        <div class="card">
            <div class="card-body">
                <!-- BOTON PARA AGREGAR DE BAJO DE LA GRILLA 
                <button type="button" class="btn btn-success" ng-click="agregar()" style="margin-bottom: 17px;">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar
                </button>-->
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Cliente</th>
                                <th style="text-align: center">Fecha</th>
                                <th style="text-align: center">Iva 5%</th>
                                <th style="text-align: center">Iva 10%</th>
                                <th style="text-align: center">Exenta</th>
                                <th style="text-align: center">Monto total</th>
                                <th></th>
                                <!-- <th></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.cliente}}</td>
                                <td ng-cloak style="text-align: center">{{data.fecha |date:'dd/MM/yyyy'}}</td>
                                <td ng-cloak style="text-align: center">{{data.iva5 |currency :'Gs.': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.iva10 |currency :'Gs.': 0}}</td>
                                <td ng-cloak style="text-align: center">{{data.exenta |currency :'Gs.': 0}}</td>
                                <td ng-cloak style="text-align: center">{{data.montoTotal |currency :'Gs.': 0}}</td>
                                <td>
                                    <i class="mdi mdi-file-pdf" style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="imprimir(data)" data-toggle="tooltip" title="Descargar PDF"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
    <div class="col-12" ng-if="!fact.length">
        <div class="card">
            <div class="card-body">
                <h3 style="font-size:larger; text-align: center;">
                    Aún no hay registros.
                </h3>
                <!-- <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>-->
            </div>
        </div>
    </div>
</div>