<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>

    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Modificar Proveedor</h3>
            </div>
        </div>
    </div>

    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Nombre :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" 
                        ng-model="selected.modificarDatos.nombre" type="" id="nombre" name="nombre" class="form-control"
                        placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">RUC :</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.ruc" type="" id="" name="documento" class="form-control"
                            placeholder="RUC" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Teléfono :</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.telefono" type="" id="" name="telefono" class="form-control"
                            placeholder="Teléfono" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Dirección :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="selected.modificarDatos.direccion" type="" id="" name="domicilio" class="form-control"
                            placeholder="Dirección" required>
                    </div>
                </div>
                <hr>

                <div class="form-actions" style="float:right; height:50px;">
                    <div class="row" style="float:right;">
                        <div class="col-md-offset-2 col-lg-12">
                            <button type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                            <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>

                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioProveedor" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioProveedor" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                class="btn btn-default" ng-click="modificarProveedor()">Aceptar</button>
            </div>
        </div>
    </div>
</div>