<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Detalle Servicio</h3>
            <div class="card-body row">
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Servicio :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak>{{selected.datos.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12" ng-if="listaFiltro.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Producto</th>
                                <th style="text-align: center">Cantidad</th>
                                <th style="text-align: center">Costo</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.descripcion}}</td>
                                <td ng-cloak style="text-align: center">{{data.cantProducto}}</td>
                                <td ng-cloak style="text-align: center">{{data.costoProducto |currency :'Gs.': 0 }}</td>
                                <td>
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td>
                                <td>
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="openModal(data)" data-toggle="tooltip" title="Eliminar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- BOTON PARA AGREGAR DE BAJO DE LA GRILLA -->
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right" title="Agregar Detalle">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i
                    >&nbsp;&nbsp;Agregar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
<div class="col-12" ng-if="listaFiltro.length == 0">
    <div class="card">
        <div class="card-body">
            <h3 style="font-size:larger; text-align: center;">
                Aún no hay registros.
            </h3>
            <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right" title="Agregar Orden de Compra">
                <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="eliminarServicioDetalle" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="eliminarServicioDetalle" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea eliminar el producto?</p>
                <p style="color: black;">Esta acción es irreversible!</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                class="btn btn-default" ng-click="eliminar(data)">Aceptar</button>
            </div>
        </div>
    </div>
</div>