<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Operación</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Tipo de Operación:</label>
                    <div class="col-md-6">
                        <select ui-select2 class="form-control input-sm" tabindex="1" ng-model="selected.modificarDatos.tipoOperacion"
                            name="tipoOperacion" required>
                            <option value="">-- SELECCIONAR --</option>
                            <option value="E">E</option>
                            <option value="S">S</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Monto</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.monto" onkeyup="format(this)" onchange="format(this)" type="" id=""
                            name="monto" class="form-control" placeholder="Monto" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Desripción de la Operación</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.operacionNoEspecificada" type="" id="" name="nombre" class="form-control"
                            placeholder="Desripción de la Operación" required>
                    </div>
                </div>
                <hr>
                <div class="form-actions">
                    <div class="row" style="float:right;">
                        <div class="col-md-offset-2 col-lg-12">
                            <button type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                            <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioOperacion" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioOperacion" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button"  style="background-color:#3CC3B9; border-color: #3CC3B9; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                class="btn btn-default" ng-click="modificar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>