<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px;">
        <div class="card-body">
            <h3 style="font-size: 25px; color: #FFFFFF; text-align: center;">Cobranza</h3>
        </div>
    </div>
    <div class="col-12" ng-if="servicioRealizado.length > 0">
        <div class="card">
            <div class="card-body">
                <h3>
                    Seleccione la venta realizada a cobrar:
                </h3>
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">N° Venta</th>
                                <th style="text-align: center">C.I. N°</th>
                                <th style="text-align: center">Nombres</th>
                                <th style="text-align: center">Apellidos</th>
                                <th style="text-align: center">Monto a pagar</th>
                                <th style="text-align: center">Fecha de Operación</th>
                                <th style="text-align: center">Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.idServicioRealizado}}</td>
                                <td ng-cloak style="text-align: center">{{data.documento |currency :'': 0}}</td>
                                <td ng-cloak style="text-align: center">{{data.nombres}}</td>
                                <td ng-cloak style="text-align: center">{{data.apellidos}}</td>
                                <td ng-cloak style="text-align: center">{{data.montoTotal |currency :'Gs.': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.fechaOperacion|date:'dd/MM/yyyy'}}</td>
                                <td ng-cloak style="text-align: center" ng-if="data.pagado">PAGADO</td>
                                <td ng-cloak style="text-align: center" ng-if="!data.pagado">PENDIENTE</td>
                                <td>
                                    <i class="mdi mdi-cash-multiple"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer" ng-click="pagar(data)"
                                        data-toggle="tooltip" title="Pagar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" ng-if="servicioRealizado.length <= 0">
        <div class="card">
            <div class="card-body">
                <h3>
                    No cuenta con servicios realizados a pagar
                </h3>
            </div>
        </div>
    </div>
</div>