<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Agregar Servicio</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Rubro :</label>
                    <div class="col-md-6">
                        <select ui-select2 class="form-control input-sm" id="rubro" ng-model="datos.idRubro" name="idCliente" required>
                            <option value="" selected disabled>-- SELECCIONAR --&nbsp;&nbsp;</option>
                            <option ng-repeat="r in rubros| orderBy:'descripcion':false" value="{{r.idRubro}}">
                                    {{r.descripcion}}&nbsp;&nbsp;
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Descripción :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" 
                        ng-model="datos.descripcion" type="" id="descripcion" name="descripcion" class="form-control"
                        placeholder="" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Precio :</label>
                    <div class="col-lg-8">
                        <input ng-model="datos.precio" onkeyup="format(this)" onchange="format(this)" type="" id="" name="precio" class="form-control" placeholder="" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">IVA :</label>
                    <div class="col-lg-8">
                        <input ng-model="datos.iva" type="" id="" name="iva" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
          
                <hr>
                <div class="form-actions" style="float:right; height:50px;">
                    <div class="row">
                        <div class="col-md-offset-3 col-lg-12">
                            <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                            <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                            <button type="button" class="btn btn-default waves-effect"
                                ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
