<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Agregar Baja Stock</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">

                <div class="form-group row">
                    <label class="col-lg-4 control-label">Producto :</label>
                    <div class="col-md-6">
                        <select ui-select2 class="form-control input-sm" id="producto"
                            ng-model="datos.idProducto" name="idProducto" required>
                            <option value="" selected disabled>-- SELECCIONAR --&nbsp;&nbsp;</option>
                            <option ng-repeat="p in producto| orderBy:'descripcion':false" value="{{p.idProducto}}">
                                {{p.descripcion}}&nbsp;&nbsp;
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Cantidad :</label>
                    <div class="col-lg-2">
                        <input ng-model="datos.cantidadBaja" type="number" id="cantidadBaja" name="cantidadBaja"
                            class="form-control" placeholder="" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Motivo :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="datos.motivoBaja" type="" id="motivoBaja" name="motivoBaja"
                            class="form-control" placeholder="" required>
                    </div>
                </div>
                <hr>
                <div class="form-actions" style="float:right; height:50px;">
                    <div class="row">
                        <div class="col-md-offset-3 col-lg-12">
                            <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                            <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                            <button type="button" class="btn btn-default waves-effect"
                                ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>