<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px;">
        <div class="card-body">
            <h3 style="font-size: 25px; color: #FFFFFF; text-align: center;">Ventas</h3>
        </div>
    </div>
    <div class="col-12" ng-if="servicioRealizado.length">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">N° Venta</th>
                                <th style="text-align: center">C.I. N°</th>
                                <th style="text-align: center">Nombres</th>
                                <th style="text-align: center">Apellidos</th>
                                <th style="text-align: center">Monto</th>
                                <th style="text-align: center">Fecha de Operación</th>
                                <th style="text-align: center">Estado</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.idServicioRealizado}}</td>
                                <td ng-cloak style="text-align: center">{{data.documento | currency :'': 0}}</td>
                                <td ng-cloak style="text-align: center">{{data.nombres}}</td>
                                <td ng-cloak style="text-align: center">{{data.apellidos}}</td>
                                <td ng-cloak style="text-align: center">{{data.montoTotal |currency :'Gs.': 0}}</td>
                                <td ng-cloak style="text-align: center">{{data.fechaOperacion|date:'dd/MM/yyyy'}}</td>
                                <td ng-cloak style="text-align: center" ng-if="data.pagado">PAGADO</td>
                                <td ng-cloak style="text-align: center" ng-if="!data.pagado">PENDIENTE</td>
                                <td>
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td>
                                <td>
                                    <i class="mdi  mdi-clipboard-text"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer" ng-click="verMas(data)"
                                        data-toggle="tooltip" title="Ver detalles"></i>
                                </td>
                                <td>
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="openModal(data.idServicioRealizado)" data-toggle="tooltip"
                                        title="Eliminar"></i>
                                </td>
                                <td ng-if="data.pagado">
                                    <i class="mdi mdi-cash-multiple"
                                        style="font-size: 22px; color: #a2a2a2; cursor: default" data-toggle="tooltip"
                                        title="Pagado"></i>
                                </td>
                                <td ng-if="!data.pagado">
                                    <i class="mdi mdi-cash-multiple"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer" ng-click="pagar(data)"
                                        data-toggle="tooltip" title="Pagar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- BOTON PARA AGREGAR DE BAJO DE LA GRILLA -->
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar
                </button>

            </div>
        </div>
    </div>
    <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
    <div class="col-12" ng-if="!servicioRealizado.length">
        <div class="card">
            <div class="card-body">
                <h3 style="font-size:larger; text-align: center;">
                    Aún no hay registros.
                </h3>
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="eliminar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="eliminar" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea eliminar el registro?</p>
                <p style="color: black;">Esta acción es irreversible!</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                    style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                    class="btn btn-default" ng-click="eliminar()">Aceptar</button>

            </div>
        </div>
    </div>
</div>