<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div ng-if="pendiente" class="col-sm-14 col-md-14">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="fas fa-exclamation" style="font-size: 22px;"></i><strong style="font-size: 20.5px">&nbsp;ATENCIÓN</strong>
            <hr class="message-inner-separator">
            <p style="font-size: 18px;">Hay ordenes de compra pendientes</p>
        </div>
    </div>
    <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px;">
        <div class="card-body">
            <h3 style="font-size: 25px; color: #FFFFFF; text-align: center;">Ordenes de Compra</h3>
        </div>
    </div>
    <div class="col-12" ng-if="ordenCompra.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">N° Orden de Compra</th>
                                <th style="text-align: center">Proveedor</th>
                                <th style="text-align: center">Fecha</th>
                                <th style="text-align: center">Costo Estimado</th>
                                <th style="text-align: center">Costo Final</th>
                                <th style="text-align: center">Estado</th>
                                <th style="text-align: center">Recepcionado</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.idOrdenesCompra}}</td>
                                <td ng-cloak style="text-align: center">{{data.nombre}}</td>
                                <td ng-cloak style="text-align: center">{{data.fecha |date:'dd/MM/yyyy'}}</td>
                                <td ng-cloak style="text-align: center">{{data.costoEstimado |currency :'Gs.': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.costoTotal |currency :'Gs.': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.descripcion}}</td>
                                <td ng-cloak style="text-align: center" ng-if="data.recepcionado">SI</td>
                                <td ng-cloak style="text-align: center" ng-if="!data.recepcionado">NO</td>

                                <!-- <td ng-if="data.idEstado != 9"></td> -->

                                <td ng-if="data.idEstado == 9">
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="openModal(data)" data-toggle="tooltip" title="Cancelar"></i>
                                </td>

                                <td ng-if="data.idEstado != 9">
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #99ABB4; cursor: default"
                                        ng-click="openModal(data)" data-toggle="tooltip" title="Cancelar"></i>
                                </td>


                                <!-- <td ng-if="data.idEstado != 9 || !data.generado"></td> -->

                                <td ng-if="data.idEstado == 9 && data.generado">
                                    <i class="mdi mdi-checkbox-marked-circle-outline"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="confirmar(data)" data-toggle="tooltip" title="Confimar Recepción"></i>
                                </td>
                                <td ng-if="data.idEstado != 9 || !data.generado">
                                    <i class="mdi mdi-checkbox-marked-circle-outline"
                                        style="font-size: 22px; color: #99ABB4; cursor: default"
                                        ng-click="confirmar(data)" data-toggle="tooltip" title="Confimar Recepción"></i>
                                </td>

                                <td>
                                    <i class="mdi mdi-clipboard-text"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer" ng-click="verMas(data)"
                                        data-toggle="tooltip" title="Ver detalles"></i>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- BOTON PARA AGREGAR DE BAJO DE LA GRILLA -->
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right" title="Agregar Orden de Compra">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i
                    >&nbsp;&nbsp;Agregar
                </button>
            </div>
        </div>
    </div>
    <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
    <div class="col-12" ng-if="ordenCompra.length == 0">
        <div class="card">
            <div class="card-body">
                <h3 style="font-size:larger; text-align: center;">
                    Aún no hay registros.
                </h3>
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right" title="Agregar Orden de Compra">
                    <i class="fa fa-plus"
                        style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>
            </div>
        </div>
    </div>


    <!-- MODAL -->

    <div class="modal fade" id="cancelarOrdenCompra" role="dialog">
        <div class="modal-dialog"">
            <div class=" modal-content" id="cancelarOrdenCompra"
            style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea cancelar la orden de compra?
                </p>
                <p style="color: black;">Esta acción es irreversible!</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                    style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                    class="btn btn-default" ng-click="cancelarOrden()">Aceptar</button>
            </div>
        </div>
    </div>
</div>