<style>
    /* body {
        background-color: #cbf3f0;
    }

    .login-register {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: white;
        height: 100%;
        width: 100%;
        padding: 10% 0;
        position: fixed;
    }*/

    .login-box {
        width: 820px;
        margin: -45px auto;
    }

    .nombre_empresa img {
        height: 104px;
        width: 378px;
        margin: 228px -9px;
    }

    .fa,
    .fas {

        color: white;
    }

    .form-control {
        min-height: 41px;
        background: #fff;
        box-shadow: none !important;
        border-color: #e3e3e3;
    }

    .form-control:focus {
        border-color: #70c5c0;
    }

    .form-control,
    .btn {
        border-radius: 2px;
    }

    .login-form {
        width: 350px;
        margin: 0 auto;
        padding: 100px 0 30px;
    }

    .login-form form {
        /*margin-top: 11%;*/
        color: #7a7a7a;
        border-radius: 2px;
        margin-bottom: 15px;
        font-size: 13px;
        background: #4bafa8;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        position: relative;
    }

    .login-form h2 {
        font-size: 22px;
        margin: 35px 0 25px;
    }

    .login-form .avatar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -6px;
        width: 95px;
        height: 95px;
        /* border-radius: 50%;*/
        z-index: 9;
        background: white;
        padding: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .card {

        border: 0px solid rgba(0, 0, 0, 0.125);
    }

    .login-form .avatar img {
        width: 100%;
    }

    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }

    .login-form .btn {
        font-size: 16px;
        font-weight: bold;
        background: white;
        color: black;
        border: none;
        margin-bottom: 20px;
        margin-left: 24%;
        width: 50%;
    }

    .login-form .btn:hover,
    .login-form .btn:focus {
        background: white;
        outline: none !important;
    }

    .login-form a {
        color: #fff;
        text-decoration: underline;
    }

    .login-form a:hover {
        text-decoration: none;
    }

    .login-form form a {
        color: #7a7a7a;
        text-decoration: none;
    }

    .login-form form a:hover {
        text-decoration: underline;
    }

    .col-sm-6 {
        padding-right: 0px;
    }
</style>


<section id="wrapper">
    <div class="login-register">

        <div class="login-box card card-inverse card-info text-center" style="background-color: white;">

            <div class="row" style=" background-image: url(assets/images/fondoLogin.png);background-size: cover;">
                <div class="col-sm-6">
                    <div class="card-body">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="login-form">
                        <form ng-submit="login(form)">
                            <div class="avatar" style="height:18%; width: 78%; margin: 0 auto;">
                                <img src="assets/images/logoColor.png" id="serviLogo">
                            </div>
                            <h2 class="text-center" style="color: white;">Iniciar sesión</h2>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Usuario" ng-model="datos.user" id="usuario"
                                    style="font-size: 13px;padding-left: 10px;width: 70%;background-color: white;border-radius: 4px;"
                                    required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Contraseña"
                                    ng-model="datos.pass"
                                    style="font-size: 13px;padding-left: 10px;width: 70%;background-color: white;border-radius: 4px;"
                                    required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">INGRESAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>