<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>

<div class="col-12">
    <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px;">
        <div class="card-body">
            <h3 style="font-size: 25px; color: #FFFFFF; text-align: center;">Productos</h3>
        </div>
    </div>
    <div class="col-12" ng-if="producto.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Descripción</th>
                                <th style="text-align: center">Marca</th>
                                <th style="text-align: center">Contenido</th>
                                <th style="text-align: center">Costo</th>
                                <th style="text-align: center">Stock Mínimo</th>
                                <th style="text-align: center">Stock Actual</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.descripcion}}</td>
                                <td ng-cloak style="text-align: center">{{data.marca}}</td>
                                <td ng-cloak style="text-align: center">{{data.contenido |currency :'': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.costo |currency :'Gs.': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.stockMinimo |currency :'': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.stockActual |currency :'': 0 }}</td>
                                <td>
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td>
                                <td>
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="openModal(data)" data-toggle="tooltip" title="Eliminar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right" title="Agregar nuevo">
                        <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i
                        >&nbsp;&nbsp;Agregar
                </button>
            </div>
        </div>
    </div>
    <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
    <div class="col-12" ng-if="producto.length <= 0">
        <div class="card">
            <div class="card-body">
                <h3 style="font-size:larger; text-align: center;">
                    Aún no hay registros.
                </h3>
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="eliminarProducto" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="eliminarProducto" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea eliminar el producto?</p>
                <p style="color: black;">Esta acción es irreversible!</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                    style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                    class="btn btn-default" ng-click="eliminar(data)">Aceptar</button>
            </div>
        </div>
    </div>
</div>