<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Agregar Persona</h3>
            </div>
        </div>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Nombres :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="datos.nombre" type="" id="nombre" name="nombre" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Apellidos :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="datos.apellido" type="" id="" name="nombre" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Cédula Identidad N° :</label>
                    <div class="col-lg-8">
                        <input ng-model="datos.documento" type="" id="" onkeyup="format(this)" onchange="format(this)" name="nombre" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Fecha Nacimiento :</label>
                    <div class="col-lg-8">
                        <input type="date" id="picker" class="form-control" ng-model="datos.fechaNacimiento">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Teléfono :</label>
                    <div class="col-lg-8">
                        <input ng-model="datos.telefono" type="" id="" name="telefono" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Domicilio :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="datos.domicilio" type="" id="" name="domicilio" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Correo Electrónico :</label>
                    <div class="col-lg-8">
                        <input ng-model="datos.email" type="email" id="" name="nombre" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
                <hr>
                <div class="form-actions" style="float: right; height: 50px;">
                    <div class="row">
                        <div class="col-md-offset-3 col-lg-12">
                            <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                            <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                            <button type="button" class="btn btn-default waves-effect"
                                ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>