<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detalles de la venta</h4>
            <div class="card-body row">
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">N° Venta :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak>{{selected.datos.idServicioRealizado}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Cliente :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak>{{selected.datos.nombres +' '+ selected.datos.apellidos}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Monto Total :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak>{{selected.datos.montoTotal |currency :'Gs.': 0  }}</p>
                    </div>
                </div>
                
                <div class="col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-success" ng-click="pagar()"  ng-disabled="selected.datos.pagado || listaFiltro.length <= 0">
                            <i class="mdi mdi-cash-multiple"
                            style="font-size: 22px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Pagar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12" ng-if="listaFiltro.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Servicio</th>
                                <th style="text-align: center">Rubro</th>
                                <th style="text-align: center">Precio</th>
                                <th style="text-align: center">IVA</th>
                                <th style="text-align: center">Empleado</th>
                                <!-- <th></th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.descripcionServicio}}</td>
                                <td ng-cloak style="text-align: center">{{data.descripcionRubro}}</td>
                                <td ng-cloak style="text-align: center">{{data.precio |currency :'Gs.': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.porcentajeIva}}%</td>
                                <td ng-cloak style="text-align: center">{{data.nombres + " " + data.apellidos}}</td>
                                <!-- <td>
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td> -->
                                <!-- <td>
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="eliminar(data)" ng-disabled="selected.datos.pagado" data-toggle="tooltip" title="Eliminar"></i>
                                </td>  -->                             
                                <td>
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="openModal(data)" data-toggle="tooltip" title="Eliminar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- BOTON PARA AGREGAR DE BAJO DE LA GRILLA -->         
                <button type="button" class="btn btn-success" ng-disabled="selected.datos.pagado" ng-click="agregar(selected.datos)" style="float: right">
                        <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i
                        >&nbsp;&nbsp;Agregar
                </button>
            </div>
        </div>
    </div>
    <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
    <div class="col-12" ng-if="listaFiltro.length <= 0">
        <div class="card">
            <div class="card-body">
                <h3 style="font-size:larger; text-align: center; color: #99abb4;">
                    Agregue los servicios aquí . . .
                </h3>
                <button type="button" class="btn btn-success" ng-disabled="selected.datos.pagado" ng-click="agregar(selected.datos)" style="float: right">
                        <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->

<div class="modal fade" id="eliminar" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="eliminar" style="background-color:#FFFFFF; border-width: 0.055cm;">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea eliminar el registro?</p>
                    <p style="color: black;">Esta acción es irreversible!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                    class="btn btn-default" ng-click="eliminar()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>