<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>

    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Modificar Persona</h3>
            </div>
        </div>
    </div>

    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Nombres :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="selected.modificarDatos.nombres" type="" id="" name="nombres" class="form-control"
                            placeholder="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Apellidos :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="selected.modificarDatos.apellidos" type="" id="" name="apellidos" class="form-control"
                            placeholder="" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Cédula Identidad N° :</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.documento" type="" id="" onkeyup="format(this)" onchange="format(this)" name="documento" class="form-control"
                            placeholder="Cedula" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Fecha Nacimiento :</label>
                    <div class="col-lg-3">
                        <input type="date" id="picker" class="form-control" ng-model="selected.modificarDatos.fechaNacimiento">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Teléfono :</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.telefono" type="" id="" name="telefono" class="form-control"
                            placeholder="Teléfono" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Domicilio :</label>
                    <div class="col-lg-8">
                        <input oninput="let p = this.selectionStart; this.value = this.value.toUpperCase();this.setSelectionRange(p, p);" ng-model="selected.modificarDatos.domicilio" type="" id="" name="domicilio" class="form-control"
                            placeholder="" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Correo Electrónico :</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.email" type="email" id="" name="email" class="form-control"
                            placeholder="Correo" required>
                    </div>
                </div>
                <hr>
                <div class="form-actions" style="float: right; height: 50px;">
                    <div class="row"">
                        <div class="col-md-offset-2 col-lg-12">
                            <button type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                            <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioPersona" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioPersona" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                class="btn btn-default" ng-click="modificarPersona()">Aceptar</button>
            </div>
        </div>
    </div>
</div>