<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <!--<div class="card text-center">
        <div class="card-header">
                Aportes
        </div>
    </div>-->
    <div class="card" style="margin-bottom: 0.4cm;">
        <div class="card-body">
            <h3 class="card-title">Detalles Orden de Compra</h3>
            <div class="col-md-4">
                <div class="row">
                    <h4 class="card-title">N° Orden de Compra :&nbsp;&nbsp;</h4>
                    <p class="card-text" ng-cloak>{{selected.datos.idOrdenesCompra}}</p>
                </div>
            </div>
            <div class="card-body row">
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Fecha :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak>{{selected.datos.fecha|date:'dd/MM/yyyy'}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Costo Estimado :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak >{{selected.datos.costoEstimado | currency :'': 0 }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Costo Final :&nbsp;&nbsp;</h4>
                        <input style= "width : 30%; border-width: 0.035cm; border-color: #31ABA1" ng-if="selected.datos.generado" 
                        ng-model="datos.costoTotal" type="" id="costoTotal" name="costoTotal" onkeyup="format(this)" onchange="format(this)"
                        class="form-control" placeholder="" size="2" required>
                        <!-- <p ng-if="!selected.datos.generado" class="card-text" ng-cloak>{{selected.datos.costoTotal| currency :'': 0 }}</p> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Estado :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak>{{selected.datos.descripcion}}</p>                    
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="card-title">Recepcionado :&nbsp;&nbsp;</h4>
                        <p class="card-text" ng-cloak ng-if="selected.datos.recepcionado">SI</p>
                        <p class="card-text" ng-cloak ng-if="!selected.datos.recepcionado">NO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        
                    </div>
                </div>
                
                <!-- <div class="col-md-12" style="text-align: right" ng-if="(selected.datos.idEstado != 18 && !selected.datos.generado)">
                    <button type="button" class="btn btn-success" ng-click="generarOrden()">
                            <i class="mdi mdi-file-check"
                            style="font-size: 17px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Generar Orden de Compra</button>
                </div>

                <div class="col-md-12" style="text-align: right" ng-if="(selected.datos.idEstado != 18 && selected.datos.generado)">
                        <button type="button" class="btn btn-success" ng-click=" ">
                                <i class="mdi mdi-file-check"
                                style="font-size: 17px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Confirmar Recepción</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12" ng-if="listaFiltro.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Producto</th>
                                <!-- <th style="text-align: center">Costo</th> -->
                                <th style="text-align: center">Cantidad</th>
                                <th></th>
                                <!-- <th ng-if="selected.datos.idEstado != 18 && !selected.datos.generado"></th> -->
                                <!-- <th ng-if="selected.datos.idEstado = 18"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.descripcion}}</td>
                                <!-- <td ng-cloak style="text-align: center">{{data.costo |currency :'': 0}}</td> -->
                                <td ng-cloak style="text-align: center">{{data.cantidad}}</td>
                                <!-- <td ng-if="data.idEstado == 18 || selected.datos.generado"></td> -->
                                <!-- <td ng-if="data.idEstado == 18"></td> -->
                                <td>
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button ng-if="selected.datos.generado" type="button" class="btn btn-success" 
                ng-click="confirmarRecepcion()" style="float: right">
                        <i class="fa fa-check"
                        style="font-size: 22px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Confirmar</button>
            </div>
        </div>
    </div>
    <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
    <div class="col-12" ng-if="listaFiltro.length <= 0">
        <div class="card">
            <div class="card-body">
                <h3>
                </h3>
                <button ng-if="selected.datos.generado" type="button" class="btn btn-success" 
                ng-click="confirmarRecepcion(selected.datos)" style="float: right">
                        <i class="fa fa-check"
                        style="font-size: 22px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="eliminarOrdenCompraDetalle" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="eliminarOrdenCompraDetalle" style="background-color:#FFFFFF; border-width: 0.055cm;">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea eliminar el producto?</p>
                    <p style="color: black;">Esta acción es irreversible!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                    class="btn btn-default" ng-click="eliminar()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>