<div class="col-12">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px;">
                <div class="card-body">
                    <h3 style="font-size: 25px; color: #FFFFFF; text-align: center;">Reportes</h3>
                </div>
            </div>
    <div class="col-12" ng-if="inventario.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">N° Reporte</th>
                                <th style="text-align: center">Empleado</th>
                                <th style="text-align: center">Fecha</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.idInventario}}</td>
                                <td ng-cloak style="text-align: center">{{data.nombres +' '+ data.apellidos}}</td>
                                <td ng-cloak style="text-align: center">{{data.fecha|date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <i class="mdi  mdi-clipboard-text"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="verMas(data)" data-toggle="tooltip" title="Ver detalles"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right" title="Generar Inventario">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i
                    >&nbsp;&nbsp;Generar
                </button>
            </div>
        </div>
    </div>
        <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
<div class="col-12" ng-if="inventario.length == 0">
    <div class="card">
        <div class="card-body">
            <h3 style="font-size:larger; text-align: center;">
                Aún no hay registros.
            </h3>
            <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right" title="Generar Inventario">
                <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Generar</button>
        </div>
    </div>
</div>