<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Detalles Empleado</h3>
            <div class="col-md-4">
                <div class="row">
                    <h4 class="card-title">Empleado :&nbsp;&nbsp;</h4>
                    <p class="card-text" ng-cloak>{{selected.datos.nombre +' '+ selected.datos.apellido}}</p>
                </div>
            </div>
            <div class="card-body row">
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">C.I. N° :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak>{{selected.datos.cedula | currency :'': 0 }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">Teléfono :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak>{{selected.datos.telefono}}</p>                    
                        </div>
                    </div>   
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">Correo Electrónico :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak> <a href="mailto:{{selected.datos.email}}"> {{selected.datos.email}}</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">Fecha Ingreso:&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak>{{selected.datos.fecha_ingreso|date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">Fecha Salida :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak >{{selected.datos.fecha_salida|date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="card-title">Usuario :&nbsp;&nbsp;</h4>
                            <p class="card-text" ng-cloak>{{selected.datos.usuario}}</p>                    
                        </div>
                    </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="col-12" ng-if="listaFiltro.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Salario</th>
                                <th style="text-align: center">Rubro</th>
                                <th style="text-align: center">Fecha de Asignación</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.salario |currency :'Gs.': 0}}</td>
                                <td ng-cloak style="text-align: center">{{data.descripcion}}</td>
                                <td ng-cloak style="text-align: center">{{data.fecha_asignacion|date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td>
                                <td>
                                    <i class="mdi mdi-close-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="eliminar(data)" data-toggle="tooltip" title="Eliminar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- BOTON PARA AGREGAR DE BAJO DE LA GRILLA -->
                <button type="button" class="btn btn-success" ng-if="selected.datos.fecha_salida == null" ng-click="agregar(selected.datos)" style="float: right" title="Agregar Detalle">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i
                    >&nbsp;&nbsp;Agregar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
<div class="col-12" ng-if="listaFiltro.length == 0">
    <div class="card">
        <div class="card-body">
            <h3 style="font-size:larger; text-align: center;">
                Aún no hay registros.
            </h3>
            <button type="button" class="btn btn-success" ng-if="selected.datos.fecha_salida == null" ng-click="agregar(selected.datos)" style="float: right" title="Agregar Orden de Compra">
                <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>
        </div>
    </div>
</div>