<style>
    body {
        background: url(assets/images/fondoLogin.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }
</style>
<div class="col-lg-12" >
    <center>
        <div class="col-md-9">
            <div class="alert alert-info" style="background-color: #c8e1e069;"><strong>Bienvenido</strong> </div>
        </div>
    </center>
</div>