<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Usuario</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Salario</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.salario"  type="" id="" name="salario" class="form-control"
                            placeholder="Salario" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Rubro:</label>
                    <div class="col-md-6">
                        <select ui-select2 class="form-control input-sm" tabindex="1" ng-model="selected.modificarDatos.idRubro"
                            name="idRubro" required>
                            <option value="">-- SELECCIONAR --</option>
                            <option ng-repeat="r in rubros" value="{{r.idRubro}}">
                                {{r.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-actions">
                    <button style="float:right;" type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioEmpleado" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioEmpleado" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                class="btn btn-default" ng-click="modificarPersona()">Aceptar</button>
            </div>
        </div>
    </div>
</div>