<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>
    <div class="header">
        <h4 class="title">Modificar Servicio Realizado</h4>
    </div>
    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Cliente:</label>
                    <div class="col-md-8">
                        <select ui-select2  id="idUsuarioTipo" 
                            class="form-control input-sm" 
                            ng-model="selected.modificarDatos.idCliente" 
                            name="idCliente" ng-required="true"
                            ng-options="i.id_cliente as (i.nombre + ' ' + o.apellido ) for i in cliente">
                            <option value="" selected>--Seleccionar--</option>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Fecha de Operación:</label>                    
                    <div class="col-md-8">
                        <md-datepicker ng-model="selected.modificarDatos.fechaOperacion" md-placeholder="Fecha de Operación" ng-change="">
                        </md-datepicker>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Monto total</label>
                    <div class="col-lg-8">
                        <input ng-model="selected.modificarDatos.montoTotal" type="" id="" name="montoTotal" class="form-control"
                            placeholder="Monto Total" required>
                    </div>
                </div>


                <hr>
                    
                <div class="form-actions">
                    <div class="row" style="float:right;">
                        <div class="col-md-offset-2 col-lg-12">
                            <button type="submit" class="btn btn-info btn-fill btn-wd"> Confirmar</button>
                            <button type="button" class="btn btn-default waves-effect" ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="cambioEmpleado" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioEmpleado" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                class="btn btn-default" ng-click="modificarServicioRealizado()">Aceptar</button>
            </div>
        </div>
    </div>
</div>