<style>
    .modal-backdrop.fade {
        z-index: -100 !important;
    }
</style>
<div class="col-12">
    <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px;">
        <div class="card-body">
            <h3 style="font-size: 25px; color: #FFFFFF; text-align: center;">Caja</h3>
        </div>
    </div>
    <div class="col-12" ng-if="caj.length">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table color-bordered-table success-bordered-table" ng-table="tableParams">
                        <thead>
                            <tr>
                                <th style="text-align: center">Nombres</th>
                                <th style="text-align: center">Apellidos</th>
                                <th style="text-align: center">Fecha</th>
                                <th style="text-align: center">Monto total de ingreso</th>
                                <th style="text-align: center">Monto total de egreso</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in $data">
                                <td ng-cloak style="text-align: center">{{data.nombres}}</td>
                                <td ng-cloak style="text-align: center">{{data.apellidos}}</td>
                                <td ng-cloak style="text-align: center">{{data.fecha |date:'dd/MM/yyyy'}}</td>
                                <td ng-cloak style="text-align: center">{{data.monto_total_ingreso |currency :'Gs.': 0 }}</td>
                                <td ng-cloak style="text-align: center">{{data.monto_total_egreso |currency :'Gs.': 0 }}</td>
                                <td ng-if="data.estado">
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #3CC3B9; cursor: pointer"
                                        ng-click="modificar(data)" data-toggle="tooltip" title="Editar"></i>
                                </td>

                                <td ng-if="!data.estado">
                                    <i class="mdi mdi-pencil-box"
                                        style="font-size: 22px; color: #a2a2a2; cursor: default" data-toggle="tooltip"
                                        title="Editar"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- BOTON PARA AGREGAR DE BAJO DE LA GRILLA -->
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar
                </button>
            </div>
        </div>
    </div>
    <!-- CUANDO LA GRILLA NO TIENE NADA MUESTRA ESTE BOTON -->
    <div class="col-12" ng-if="!caj.length">
        <div class="card">
            <div class="card-body">
                <h3 style="font-size:larger; text-align: center;">
                    Aún no hay registros.
                </h3>
                <button type="button" class="btn btn-success" ng-click="agregar()" style="float: right">
                    <i class="fa fa-plus"
                    style="font-size: 16px; color: #FFFFFF; cursor: pointer"></i>&nbsp;&nbsp;Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal fade" id="eliminarProducto" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="eliminarProducto" style="background-color:#FFFFFF; border-width: 0.055cm;">
            <div class="modal-header">
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea eliminar el producto?</p>
                <p style="color: black;">Esta acción es irreversible!</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                    style="background-color:#31ABA1; border-color: #31ABA1; border-width: 0.045cm; color: #FFFFFF; font-family: Poppins, sans-serif; font-size: 16px;"
                    class="btn btn-default" ng-click="eliminar(data)">Aceptar</button>
            </div>
        </div>
    </div>
</div>