<div class="col-lg-8 col-md-7" style="margin-left: auto; margin-right: auto; float:none;">
    <br>

    <div class="header">
        <div class="card" style="background-color: #3CC3B9; margin-bottom: 8px; height: 58px;">
            <div class="card-body">
                <h3 style="font-size: 23px; color: #FFFFFF; text-align: center;">Agregar Empleado</h3>
            </div>
        </div>
    </div>

    <div class="card">
        <hr>
        <div class="content" style="padding: 0px 15px 10px 15px;">
            <form name="form" ng-submit="confirmar(form)">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Nombre Empleado :</label>
                    <div class="col-md-6">
                        <select ui-select2 class="form-control input-sm" ng-model="datos.idPersona" id="nombre" required>
                            <option value="" selected disabled>-- SELECCIONAR --&nbsp;&nbsp;</option>
                            <option ng-repeat="p in personas| orderBy:'nombres':false" value="{{p.idPersona}}">
                                {{p.nombres + ' ' + p.apellidos}}&nbsp;&nbsp;
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                        <label class="col-lg-4 control-label">Usuario :</label>
                        <div class="col-md-3">
                            <select ui-select2 class="form-control input-sm" ng-model="datos.usuario"
                                name="usuario" required>
                                <option value="" selected disabled>-- SELECCIONAR --&nbsp;&nbsp;</option>
                                <option ng-repeat="u in usuarios| orderBy:'usuario':false" value="{{u.usuario}}">
                                    {{u.usuario}}&nbsp;&nbsp;
                                </option>
                            </select>
                        </div>
                    </div>
                
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Fecha Ingreso :</label>
                    <div class="col-lg-3">
                        <input type="date" id="picker" class="form-control" ng-model="datos.fechaIngreso">
                        <!-- <md-datepicker ng-model="selected.modificarDatos.fecha_ingreso" md-placeholder="Fecha de Ingreso" ng-change="">
                        </md-datepicker> -->
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-4 form-control-label">Fecha Salida :</label>
                    <div class="col-lg-3">
                        <input type="date" id="picker" class="form-control" ng-model="datos.fechaSalida">
                        <!-- <md-datepicker ng-model="selected.modificarDatos.fecha_ingreso" md-placeholder="Fecha de Ingreso" ng-change="">
                        </md-datepicker> -->
                    </div>
                </div>

                <hr>
                <div class="form-actions" style="float:right; height:50px;">
                    <div class="row">
                        <div class="col-md-offset-3 col-lg-12"; style="margin-left:21.3cm">
                            <button type="button" class="btn btn-success" ng-click="insertar()">Confirmar</button>
                            <button type="button" class="btn btn-inverse" ng-click="limpiar()">Limpiar</button>
                            <button type="button" class="btn btn-default waves-effect"
                                ng-click="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->

<!--<div class="modal fade" id="cambioUsuario" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cambioUsuario">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <p style="margin : 0 0 0 0; color: black;">¿Est&aacute; seguro que desea realizar el cambio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="">Aceptar</button>
            </div>
        </div>
    </div>
</div>-->